body {
  max-width: 1000px;
  margin: auto;
  background-color: cadetblue;
}

header,
.loading,
footer,
.cardDetails,
form,
.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
h1,
h2,
a,
label,
input {
  font-family: "Kanit", sans-serif;
}

h2,
footer {
  margin-bottom: 0;
  color: rgb(215, 253, 253);
}

header,
footer {
  background-color: rgb(1, 61, 63);
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  padding: 0 20px 0 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(215, 253, 253);
}

a:hover {
  color: yellow;
}

.loading img {
  margin-top: 100px;
  max-width: 100px;
}

.cardDisplay {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "error error error error";
  margin-bottom: 100px;
  gap: 10px;
}

.error-message {
  grid-area: error;
}

.cardDetails {
  padding: 60px;
}

.cards,
.error-message img {
  max-width: 160px;
  margin-top: 15px;
}

.cards img {
  max-width: 100%;
}

.cards img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 7px rgb(74, 123, 124);
}

form {
  padding: 100px 0 100px 0;
}

label {
  padding: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 70px;
  text-align: left;
}

input {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

input:hover {
  background-color: rgb(185, 230, 231);
}

input:focus {
  outline: none;
}

#nameMsg,
#emailMsg,
#subMsg,
#addMsg {
  display: block;
  text-align: right;
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  margin-bottom: 15px;
}

#back {
  margin-left: 250px;
  font-size: 1.3em;
  font-weight: 700;
}
